<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
	<select id="b_selectAll"  resultType="com.ja.ex.vo.BoardVo">
	
	SELECT *FROM fb_board ORDER BY board_no DESC
	
	</select>

	<select id="b_selectByNo" resultType="com.ja.ex.vo.BoardVo">
	
	SELECT *FROM fb_board WHERE board_no=#{board_no};
	
	</select>



</mapper>