<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ja.ex.mapper.MemberSQLMapper">

	<insert id="m_insert">

	INSERT INTO FB_MEMBER VALUES(FB_BOARD_SEQ.nextval,#{member_id},#{member_pw},#{member_nick},#{member_sex},SYSDATE)

	</insert>
	
	<select id="m_selectIdAndPw" resultType="com.ja.ex.vo.MemberVo">
	
	SELECT * FROM fb_member WHERE member_id=#{member_id} AND member_pw=#{member_pw}
	
	</select>
	
	
	<select id="m_selectByNo"  resultType="com.ja.ex.vo.MemberVo">
	
	SELECT *FROM fb_member WHERE member_no =#{member_no};
	
	</select>
	
</mapper>